body {
    height: 100%;
    background: #F1F1F1;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 0;
    overflow-y: scroll;
}
/* Heder */

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 0 1em 0.5em 1em;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #222;
    box-shadow: 0px 0px 25px -9px rgba(0, 0, 0, 1);
}

.logo {
    height: 50px;
}

.titles {
  margin: 0.25em auto 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em;
}

.title {
    font-size: 1.35em;
}

.top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link {
  color: #333;
  padding: 0 0.5em;
}

/* Controls
  ---------------------------------------------------------------------- */

  .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .control {
    position: relative;
    display: flex;
    width: 140px;
    cursor: pointer;
    transition: background 450ms;
    padding: 0.5rem;
    font-size: 1rem;
    background: #fff;
    border-bottom: 2px solid currentColor;
    border-radius: 1px;
    margin: 0.5rem;
    justify-content: center;
    text-transform: uppercase;
  }

  .control span {
    color: #222;
  }

  .control:hover {
    background: #ccc;
    color: #fff;
  }

  .mixitup-control-active {
    background-color: #ddd;
  }

  .control.green {
    color: #6CC644;
  }

  .control.blue {
    color: #5ecdde;
  }

  .control.pink {
    color: #d595aa;
  }

  .control.orange {
    color: #FF9933;
  }

  .control.yellow {
    color: #E5E500;
  }

  .control.purple {
    color: #6E5494;
  }

  .control.red {
    color: #BD2C00;
  }

  .control.white {
    color: #ccc;
  }
  /* Container
  ---------------------------------------------------------------------- */

  #map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    text-align: justify;
  }

  .mix:first-child {
    background-color: #2ac1de;
    color: #ccc !important;
  }


  .mix:first-child .content {
    color: #fff !important;
    font-size: 1.1;
  }

  /* Target Elements
  ---------------------------------------------------------------------- */

  .mix {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    width: 120px;
    color: #000;
    background: #fff;
    transition: background 450ms;
    border: 2px solid currentColor;
    border-radius: 1px;
    margin: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.1);
  }

  .mix:hover {
    background: #eee;
    color: #fff;
  }

  .mix.green {
    color: #6CC644;
  }

  .mix.pink {
    color: #d595aa;
  }

  .mix.blue {
    color: #2AC1DE;
  }

  .mix.orange {
    color: #FF9933;
  }

  .mix.yellow {
    color: #E5E500;
  }

  .mix.purple {
    color: #6E5494;
  }

  .mix.red {
    color: #BD2C00;
  }

  .content {
    min-height: 120px;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #444;
  }

  .content span {
    margin: 0.5em 0.5em 0 0.5em;
    text-align: center;
  }
